/* VARIABLES PARA LOS COLORES DE LA MARCA Y BASICOS DE LA PAGINA */
:root {
  --azul-primario: #00a4e5;
  --amarillo-primario: #fffe00;
  --verde-primario: #00e000;
}

* {
  font-family: "Inter", "Gill Sans";
  color: #000000;
}

@keyframes girarBoton {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

/* BARRA DE NAVEGACION */
.nav_texto {
  font-size: 0.95em;
}

/* SECCION INICIO */
.inicio_titulo {
  font-size: 7em;
  font-weight: 800;
}

.inicio_parrafo {
  font-size: 1.4em;
  font-weight: 500;
}

.otros_titulos {
  font-size: 4em;
  font-weight: 600;
}

.derecha {
  text-align: right;
  margin-right: 1em;
  margin-bottom: -0.55em;
}

.izquierda {
  text-align: left;
  margin-left: 1em;
  margin-top: 1em;
}

/* SECCION NOSOTROS */
.nosotros_contenedor {
  background-color: var(--azul-primario);
  height: 30em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nosotros_parrafo {
  font-size: 1.25em;
  text-align: right;
  color: white;
  position: absolute;
  right: 3em;
}

.white {
  color: white;
}

.fotoManos {
  position: relative;
  right: 40em;
}

.elipseBlanca {
  position: relative;
  left: 0.45em;
  bottom: 2.5em;
}

/* SECCION LOGROS */
.logros {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 6em;
}

.logrosNumeros {
  font-size: 3em;
  font-weight: 700;
}

.logrosDatos {
  text-align: center;
  margin-top: -1em;
}

/* SECCION GALERIA */
.imagenGaleria {
  width: 98vw;
  margin: 2em auto 6em auto;
}

/* SECCION APOYA AL FOOD TRUCK */
.foodtruck_contenedor {
  background-color: var(--amarillo-primario);
  height: auto;
}

.titulo_anexo {
  padding-right: 2.3em;
  font-size: 1.2em;
  font-weight: 700;
}

.foodtruck_texto {
  text-align: right;
  font-size: 1.15em;
  width: 60%;
  padding-right: 3em;
}

.elipseVerde {
  position: relative;
  bottom: 3.5em;
  left: 8.2em;
}

.fotoFoodTruck {
  position: relative;
  right: 10em;
  bottom: 1.8em;
}

.contenedorUnoFoodTruck {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contenedorDosFoodTruck {
  padding: 2em 7em;
}

.empresaFoodTruck {
  font-size: 3em;
  font-weight: 600;
  padding-bottom: 0.5em;
}

.eventos {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* SECCION COLABORAR */
.contenedorUnoColaborar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.textoColaborar {
  font-size: 1em;
  width: 70%;
  padding-left: 4em;
}

.elipseAzul {
  position: relative;
  bottom: 4em;
  right: 8em;
}

.manosJuntas {
  position: relative;
  left: 7.3em;
  bottom: 2.4em;
}

.contenedorDosColaborar {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.apoyoColaborar {
  font-size: 2.5em;
  font-weight: 700;
}

.botonRedondo {
  border-radius: 100%;
  margin: 2em 3em;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.25);
  border: none;
  background-color: #ffffff;
}

.botonRedondo:hover {
  transform: scale(115%);
}

.contenedorAnimaciones {
  height: 0;
}

.mensual {
  padding: 4em 3.7em;
}

.mensualAzul {
  position: relative;
  right: 4.65em;
  bottom: 13.8em;
  z-index: -1;
}

.semestralAmarillo {
  position: relative;
  bottom: 13.8em;
  z-index: -1;
}

.semestral {
  padding: 4em 3.3em;
}

.anualVerde {
  position: relative;
  bottom: 13.8em;
  left: 4.8em;
  z-index: -1;
}

.anual {
  padding: 4em;
}

.parrafoColaborar {
  margin-top: 3em;
}

.aliasColaborar {
  background-color: var(--azul-primario);
  color: #ffffff;
  padding: 0.8em 2.5em;
  margin-top: -0.5em;
  font-weight: 600;
  border-radius: 10px;
  border: none;
}

/* SECCION CONTACTO */
.contacto_contenedor {
  background-color: var(--verde-primario);
  min-height: 30em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
